Source: filters
Section: games
Priority: optional
Maintainer: Joey Hess <joeyh@master.debian.org>
Standards-Version: 3.0.1.1

Package: filters
Architecture: any
Depends: ${shlibs:Depends}
Description: a collection of filters, including B1FF and the swedish chef
 A collection of filters to do all sorts of strange things to text.
 This includes such favorites as B1FF and the swedish chef.
